// STYLE VARIABLES
$primary-color: #0e2143;
$secondary-color: #d9ecfa;
$tertiary-color: #fff;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Home {
  min-height: 100vh;
  background-color: $secondary-color;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

.App-header {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding-top: 10vh;
}

.Game-header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 1vh;
}

.App-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 15vh;
}

.Game-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  min-height: 15vh;
}

.Game-button {
  min-width: 40vw;
  min-height: 5vh;
  border-radius: 5px;
  background-color: $primary-color;
  color: $secondary-color;
  &:active {
    background-color: rgba($primary-color, 0.6);
  }
}

.Game-exit-button {
  min-width: 15vw;
  min-height: 5vh;
  margin: 0 1vw 0 0;
  text-align: center;
  border: none;
  color: $secondary-color;
  background-color: #0e2143;
  &:active {
    background-color: rgba($primary-color, 0.6);
  }
}

.App-link {
  color: #61dafb;
}

.User-input {
  min-width: 74vw;
  min-height: 5vh;
  border-radius: 5px;
  background-color: rgba(white, 0.68);
  box-sizing: border-box;
}

.Home-button {
  min-width: 74.2vw;
  min-height: 5vh;
  border-radius: 5px;
  background-color: $primary-color;
  color: $secondary-color;
  &:active {
    background-color: rgba($primary-color, 0.6);
  }
  &:disabled {
    background-color: rgba($primary-color, 0.4);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
