// STYLE VARIABLES
$primary-color: #202630;
$secondary-color: #d9ecfa;
$tertiary-color: #50607d;
$error-text: red;
$score-color: olive;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  color: $secondary-color;
  background-color: $primary-color;
  h1,
  h2,
  h3,
  h4,
  h5 {
    text-align: center;
  }
  p {
    text-align: center;
    font-size: 1.5em;
  }
}

.app-header {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding-top: 1vh;
}

.scoreboard-header {
  min-height: 10vh;
}

.logo {
  height: 50vmin;
  pointer-events: none;
}

.traffic-light {
  height: 25vh;
  background-color: rgba($secondary-color, 0.8);
  padding: 1vh;
  border-radius: 1vw;
}

.homescreen-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  min-height: 40vh;
  .welcome-title {
    font-size: 2em;
  }
}

.interaction-button {
  min-width: 74.2vw;
  min-height: 5vh;
  border-radius: 5px;
  margin: 2vh;
  text-align: center;
  border: none;
  background-color: $tertiary-color;
  color: $secondary-color;
  &:active {
    background-color: rgba($tertiary-color, 0.6);
  }
  &:disabled {
    background-color: rgba($tertiary-color, 0.4);
  }
}

.exit-button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 1vh;
}

.game-buttons-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  min-height: 10vh;
  min-width: 100vw;
  bottom: 0;
}

.traffic-light-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
}

.game-button {
  min-width: 42.5vw;
  min-height: 5vh;
}

.exit-button {
  min-width: 30vw;
  min-height: 5vh;
}

.score-container {
  color: $primary-color;
  border-radius: 1vw;
  background-color: $secondary-color;
  max-width: 75vw;
  min-height: 55vh;
  margin: auto;
  margin-top: 5vh;
  .score-entry-title {
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    background-color: $tertiary-color;
    min-width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.2rem;
    margin-bottom: 2vh;
    .column-title {
      padding: 3vh;
      font-weight: 900;
      color: $secondary-color
    }
  }
  .score-entry-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.15em;
    padding: 0 3vh;
    .user-entry {
      font-weight: 700;
    }
    .score-entry {
      color: $score-color;
      font-weight: 500;
    }
  }
}

.username-input {
  min-width: 74vw;
  min-height: 5vh;
  border-radius: 5px;
  background-color: rgba(white, 0.68);
  box-sizing: border-box;
  border: 1px solid $primary-color;
  margin: 2vh;
}

.error-text {
  font-size: 0.75em;
  text-align: center;
  color: $error-text;
}
